In [2]:
s = 'hello'

In [3]:
s

'hello'

In [4]:
print(s[1:3])
print(s[4])

el
o

In [5]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [6]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [7]:
'hi '!= 'bye'

True

In [8]:
True or False

True

In [9]:
True and True

True

In [10]:
if 1<2:
    print("yep")

yep

In [11]:
if True:
    print("Perform code")

Perform code

In [12]:
if 1==2:
    print("First")
elif 3==3 :
    print("Third") 
else:
    print("Second")

Third

In [13]:
d = {'key':[1,2,3,{'innerkey':[6,7,'hello']}]}
d['key'][3]['innerkey'][2] #print hello, accessing hello from nested list

'hello'

In [14]:
seq = [1,2,3,4,5,6]

In [15]:
for item in seq:
    print(item)

1
2
3
4
5
6

In [18]:
i =1
while i<5:
    print("i is {}".format(i))
    i =i+1

i is 1
i is 2
i is 3
i is 4

In [19]:
for x in range(0,5):
    print (x)

0
1
2
3
4

In [20]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
x = [1,2,3,4]
out = []
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [22]:
[num**2 for num in x]

[1, 4, 9, 16]

In [24]:
out = [num**2 for num in x]
out

[1, 4, 9, 16]

In [27]:
def my_fun(param1 = 'namaste'):
    print(param1)
my_fun('hello')
my_fun()

hello
namaste

In [32]:
def square(num):
    """"This is a docstring
    Can multiple lines
    This function square a number"""
    return num**2
output = square(2)
output

4

In [33]:
square #shift+tab

In [43]:
def times2(var): return var*2
t = lambda var: var*2
times2(5)

10

In [44]:
t(5)

10

In [41]:
seq = [1,2,3,4,5]
map(times2,seq)
#shows the address

In [42]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [45]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [47]:
filter(lambda num: num%2==0,seq)

In [49]:
list(filter(lambda num: num%2==0,seq))

[2, 4]

In [50]:
s = "hello my name is mayur"

In [55]:
s.lower()

'Hello my name is mayur'

In [56]:
s.upper()

'HELLO MY NAME IS MAYUR'

In [57]:
s.capitalize()

'Hello my name is mayur'

In [58]:
d = {'key': 1, 'key2': 2}

In [59]:
d.keys()

dict_keys(['key', 'key2'])

In [84]:
lst=[1,2,3,4,5]
list = lst.pop()
list

5

In [87]:
lst.append(5)
print(lst)

[1, 2, 3, 4, 5, 5, 5]

In [88]:
'x' in [1,2,3]

False

In [89]:
x = [(1,2),(3,4),(5,6)]
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [90]:
for (a,b) in x: 
    print(b)

2
4
6

In [91]:
for (a,b) in x: 
    print(a)

1
3
5